%header
  .header-body
    .header-left.clearfix
      %a{href: "/", class: "header-left__title"} エセキー太
      .header-left__search search
    .header-right.clearfix

      - unless user_signed_in?
        = link_to new_user_registration_path, class:"header-right__mypage" do
          新規登録
          %i.fa.fa-caret-right

      - if user_signed_in?
        = link_to "/", class:"header-right__mypage" do
          マイページ
          %i.fa.fa-caret-right
        = link_to destroy_user_session_path, class:"header-right__mypage", method: :delete do
          ログアウト
          %i.fa.fa-caret-right
        = link_to new_article_path, class:"header-right__article" do
          投稿する
          %i.fa.fa-edit
