= render :partial => "header"

.main
  .main-container.clearfix
    .left-content
      %h3.left-content-head
        記事一覧

      = render @articles

    .right-content
      .tag-content
        .tag-content-head
          タグ数ランキング
        .tag-list.clearfix
          .tag-item.clearfix
            %p.tag-item__rank
              1.
            %p.tag-item__text
              Ruby
        .tag-list.clearfix
          .tag-item.clearfix
            %p.tag-item__rank
              1.
            %p.tag-item__text
              Ruby

      .like-content
        .like-content-head
          like数ランキング
        .like-list.clearfix
          .like-item.clearfix
            %p.like-item__name
              Rubyの文法について
            %p.like-item__count
              %span.i.fa.fa-thumbs-up 6

= render :partial => "footer"


