= render partial: "header"

.main
  .main-container.clearfix
    .left-content
      %h3.left-content-head
        記事一覧
      = render @articles

    .right-content
      = render partial: "ranking", locals: { tag_ranking: @tag_ranking, good_ranking: @good_ranking }

= render partial: "footer"


