.s-article-content {
  float: left;
  width: 600px;
  min-height: 800px;
  .s-head {
    min-height: 150px;
    margin-bottom: 20px;
    background-color: white;
    .s-head-body {
      padding: 20px 30px;
      .s-user-info {
        height: 55px;
        &__user-avatar {
          text-decoration: none;
          float: left;
        }
        &__name {
          padding-left: 10px;
          line-height: 55px;
          float: left;
          font-size: 24px;
        }
        &__date {
          padding-left: 10px;
          float: left;
          line-height: 55px;
          vertical-align:middle;
          font-size: 15px;
          color: gray;
        }
      }
      &__title {
        margin-top: 20px;
        font-size: 30px;
      }
      bottun {
        color: #3ADF00;/*文字・アイコン色*/
        border-radius: 7px;/*角丸に*/
        display: inline-block;
        height: 30px;/*高さ*/
        width: 100px;/*幅*/
        text-align: center;/*中身を中央寄せ*/
        font-size: 17px;/*文字のサイズ*/
        line-height: 30px;/*高さと合わせる*/
        vertical-align: middle;/*垂直中央寄せ*/
        // background: #3ADF00;
        overflow: hidden;/*はみ出た部分を隠す*/
        text-decoration:none;/*下線は消す*/
        border: solid 2px #3ADF00;
        @include hover ();
        margin-top: 8px;
        .fa {
          text-shadow: 2px 2px 0px gray;
          font-size: 20px;
        }
        span {
          display:inline-block;
          transition: .5s;
          text-shadow: 1px 1px 0px gray;
        }
      }
    }
  }
  .s-main {
    min-height: 500px;
    background-color: white;
    margin-bottom: 20px;
    &__text {
      padding:30px 30px;
      font-size: 20px;
    }
  }
  .comments-content {
    background-color: white;
    .comment-body {
      padding: 20px 20px;
      &__title {
        font-size: 20px;
        margin-bottom: 15px;
      }
      .comment {
        &-left {
          float: left;
        }
        &-right {
          float: left;
          padding: 0 0 0 10px;
          &__user-name {
            color: #585858;
          }
          &__text {
            padding: 10px 0 0 10px;
          }
        }
      }
      .comments-form {
        margin-top: 30px;
        &__title {
          margin-bottom: 10px;
        }
        &__body {
          .message {
            float: left;
            width: calc(100% - 150px);
            height: 70px;
            &:focus {
              border: 3px solid #8cd460;
              outline: 0;
            }
          }
          .send-bottun {
            margin-left: 20px;
            float: left;
            display: inline-block;
            text-decoration: none;
            background: #8cd460;
            color: rgba(255, 255, 255, 0.47);
            font-weight: bold;
            width: 70px;
            height: 70px;
            line-height: 70px;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            // overflow: hidden;
            box-shadow: 0px 0px 0px 5px #8cd460;
            border: solid 2px rgba(255, 255, 255, 0.47);
            transition: .4s;
            @include hover ();
          }

        }
      }
    }
  }
 }
